body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}

.main-section,
.main-header-section {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main-header-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* main content section */
.main-content-section {
  padding: 100px 90px 100px 90px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}
/*about me section */

.about-me-section {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 20px;
}

.about-me-profession,
.about-me-city {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.about-me-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
}

.about-me-photo img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-me-name {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.about-me-name > * {
  margin: 0;
}

.about-me-fullname {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  /* margin-bottom: 20px; */
}

.about-me-description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.myprojects-section {
  margin-bottom: 50px;
}

.myprojects-list {
  padding: 0 0 0 18px;
}

.myprojects-item {
  color: #000;
}

.myprojects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 10px;
}

.myprojects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #aaaaaa;
}

.myprojects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

/* my working experience section*/

.my-work-experience-company {
  margin: 0 0 15px 0;
}

.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin: 0 0 10px 0;
}

.my-working-name {
  color: #fb6d3a;
}

.my-working-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.my-working-period-delimiter {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000;
}

.my-working-list {
  padding: 0 0 0 18px;
}

.my-working-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* my education section */

.my-education-section {
  margin: 45px 0 0 0;
}

.my-education-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 15px;
  color: #000;
}

.my-education-name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}

.my-education-specialty {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 10px;
}

.my-education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.my-education-period-delimiter {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000;
}

/* sidebar section */
.sidebar-section {
  background-color: #1e2939;
  color: #fff;
  width: 370px;
  padding: 40px 0;
}

.contacts-section,
.tech-skills-section,
.soft-skills-section,
.courses-section {
  margin: 50px 0 0 40px;
}

.sidebar-title-section {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

/* contacts section */
.contacts-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-right: 5px;
}

.contacts-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #99a3b1;
}

.skills-list {
  padding: 0 0 0 17px;
}

.skills-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;
}

.skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
